<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BuckIt Up</title>
	<link rel="stylesheet" href="normalize.css">
	<link rel="stylesheet" href="layout.css">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css"/>
	<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="main.js"></script>
	<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js"></script>
</head>
<body>
	<div class="header">	
		<header>
			<nav>
				<a class="logo" href="#">BuckIt Up</a>
				<a class="main" href="#">Make List</a>
				<a class="main" href="#">Find Ideas</a>
				<a class="main" href="#">About</a>	
				<a class="settings" href="#">Account</a>				
				<a class="logout" href="#">Logout</a>				
			</nav>
		</header>		
	</div>
	<div class="hero">
		<div class="carousel">

			<div class="carousel1"></div>
			<div class="carousel2"></div>
			<div class="carousel3"></div>
		</div>
		<div>
			<h1>Your Dreams Await ...Turn Them Into Reality.</h1>
			<div>
				<button class="sign-up" type="submit">Sign Up</button>
				<button class="login" type="submit">Login</button>		
			</div>
			<div class="inspire">
				<span>Insert Inspiring Quote Here</span>
			</div>
		</div>
	</div>
	<div class="main-footer">
		<footer>
			<div>
				<a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
				<a href="#"><i class="fa fa-facebook-official fa-3x"></i></a>
				<a href="#"><i class="fa fa-instagram fa-3x"></i></a>
				<a href="#"><i class="fa fa-flickr fa-3x"></i></a>
				<a href="#"><i class="fa fa-tumblr-square fa-3x"></i></a>
			</div>
		</footer>
	</div>

	<div class="coverflow">
		
	</div>

	<div class="main-content">
		<div class="media"></div>
		<div class="content"></div>
	</div>
	
		
	  
	
</body>
</html>
